.header {
    background-color: rgb(185, 85, 216);
    color:black;
    text-align: center;
    padding: 30px;
    font-size: larger;
    font-family: Georgia, 'times New Roman',Times, serif;
}